In [1]:
import pandas as pd
file_to_load = 'Data/ACSDP5Y2017.DP05_data_with_overlays_2020-09-23T174627.csv'
df = pd.read_csv(file_to_load, usecols = ['GEO_ID', 'DP05_0001E', 'DP05_0002E','DP05_0003E', 'DP05_0064E', 'DP05_0065E', 'DP05_0066E', 'DP05_0067E', 'DP05_0068E', 'DP05_0069E'    ])
df.head()

,GEO_ID,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0064E,DP05_0065E,DP05_0066E,DP05_0067E,DP05_0068E,DP05_0069E
0,id,Estimate!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!Race alone or in combination with on...,Estimate!!Race alone or in combination with on...,Estimate!!Race alone or in combination with on...,Estimate!!Race alone or in combination with on...,Estimate!!Race alone or in combination with on...,Estimate!!Race alone or in combination with on...
1,1400000US48453980000,0,0,0,0,0,0,0,0,0
2,1400000US48453000901,2424,1234,1190,1869,341,29,143,0,111
3,1400000US48453000402,3400,1458,1942,2481,848,10,163,29,53
4,1400000US48453000601,10147,4118,6029,7608,1650,123,887,18,182

In [2]:
df = df.rename(columns={"GEO_ID": "Census_Tract",
                        "DP05_0001E": "Total Population",
                        "DP05_0002E": "Total Male", 
                       "DP05_0003E": "Total Female",
                       "DP05_0064E": "White Population",
                       "DP05_0065E": "Black or African American Population",
                       "DP05_0066E": "American Indian and Alaska Native Population",
                       "DP05_0067E": "Asian Population",
                       "DP05_0068E": "Native Hawaiian and Other Pacific Islander population",
                       "DP05_0069E": "Some Other Race Population"})
df

,Census_Tract,Total Population,Total Male,Total Female,White Population,Black or African American Population,American Indian and Alaska Native Population,Asian Population,Native Hawaiian and Other Pacific Islander population,Some Other Race Population
0,id,Estimate!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!Race alone or in combination with on...,Estimate!!Race alone or in combination with on...,Estimate!!Race alone or in combination with on...,Estimate!!Race alone or in combination with on...,Estimate!!Race alone or in combination with on...,Estimate!!Race alone or in combination with on...
1,1400000US48453980000,0,0,0,0,0,0,0,0,0
2,1400000US48453000901,2424,1234,1190,1869,341,29,143,0,111
3,1400000US48453000402,3400,1458,1942,2481,848,10,163,29,53
4,1400000US48453000601,10147,4118,6029,7608,1650,123,887,18,182
...,...,...,...,...,...,...,...,...,...,...
214,1400000US48453001859,2260,1091,1169,1635,161,51,296,35,199
215,1400000US48453001858,21972,10749,11223,16303,3475,208,1723,60,861
216,1400000US48453001779,6244,2953,3291,5962,176,84,69,0,155
217,1400000US48453001776,3268,1589,1679,2690,451,125,150,0,97
218,1400000US48453002425,3449,1591,1858,2729,109,46,315,0,330

In [3]:
df.drop(df.index[0], inplace=True)
df

,Census_Tract,Total Population,Total Male,Total Female,White Population,Black or African American Population,American Indian and Alaska Native Population,Asian Population,Native Hawaiian and Other Pacific Islander population,Some Other Race Population
1,1400000US48453980000,0,0,0,0,0,0,0,0,0
2,1400000US48453000901,2424,1234,1190,1869,341,29,143,0,111
3,1400000US48453000402,3400,1458,1942,2481,848,10,163,29,53
4,1400000US48453000601,10147,4118,6029,7608,1650,123,887,18,182
5,1400000US48453001303,4029,2107,1922,3762,41,29,243,0,0
...,...,...,...,...,...,...,...,...,...,...
214,1400000US48453001859,2260,1091,1169,1635,161,51,296,35,199
215,1400000US48453001858,21972,10749,11223,16303,3475,208,1723,60,861
216,1400000US48453001779,6244,2953,3291,5962,176,84,69,0,155
217,1400000US48453001776,3268,1589,1679,2690,451,125,150,0,97
218,1400000US48453002425,3449,1591,1858,2729,109,46,315,0,330

In [4]:
df.reset_index()

,index,Census_Tract,Total Population,Total Male,Total Female,White Population,Black or African American Population,American Indian and Alaska Native Population,Asian Population,Native Hawaiian and Other Pacific Islander population,Some Other Race Population
0,1,1400000US48453980000,0,0,0,0,0,0,0,0,0
1,2,1400000US48453000901,2424,1234,1190,1869,341,29,143,0,111
2,3,1400000US48453000402,3400,1458,1942,2481,848,10,163,29,53
3,4,1400000US48453000601,10147,4118,6029,7608,1650,123,887,18,182
4,5,1400000US48453001303,4029,2107,1922,3762,41,29,243,0,0
...,...,...,...,...,...,...,...,...,...,...,...
213,214,1400000US48453001859,2260,1091,1169,1635,161,51,296,35,199
214,215,1400000US48453001858,21972,10749,11223,16303,3475,208,1723,60,861
215,216,1400000US48453001779,6244,2953,3291,5962,176,84,69,0,155
216,217,1400000US48453001776,3268,1589,1679,2690,451,125,150,0,97
217,218,1400000US48453002425,3449,1591,1858,2729,109,46,315,0,330

In [10]:
df[['GEO_ID', 'Census Tract']] = df.Census_Tract.apply(
    lambda x: pd.Series(str(x).split('US'))
)
df

,Census_Tract,Total Population,Total Male,Total Female,White Population,Black or African American Population,American Indian and Alaska Native Population,Asian Population,Native Hawaiian and Other Pacific Islander population,Some Other Race Population,GEO_ID,Census Tract
1,1400000US48453980000,0,0,0,0,0,0,0,0,0,1400000,48453980000
2,1400000US48453000901,2424,1234,1190,1869,341,29,143,0,111,1400000,48453000901
3,1400000US48453000402,3400,1458,1942,2481,848,10,163,29,53,1400000,48453000402
4,1400000US48453000601,10147,4118,6029,7608,1650,123,887,18,182,1400000,48453000601
5,1400000US48453001303,4029,2107,1922,3762,41,29,243,0,0,1400000,48453001303
...,...,...,...,...,...,...,...,...,...,...,...,...
214,1400000US48453001859,2260,1091,1169,1635,161,51,296,35,199,1400000,48453001859
215,1400000US48453001858,21972,10749,11223,16303,3475,208,1723,60,861,1400000,48453001858
216,1400000US48453001779,6244,2953,3291,5962,176,84,69,0,155,1400000,48453001779
217,1400000US48453001776,3268,1589,1679,2690,451,125,150,0,97,1400000,48453001776
218,1400000US48453002425,3449,1591,1858,2729,109,46,315,0,330,1400000,48453002425

In [11]:
df.drop(columns = ['Census_Tract'], inplace=True)
df

,Total Population,Total Male,Total Female,White Population,Black or African American Population,American Indian and Alaska Native Population,Asian Population,Native Hawaiian and Other Pacific Islander population,Some Other Race Population,GEO_ID,Census Tract
1,0,0,0,0,0,0,0,0,0,1400000,48453980000
2,2424,1234,1190,1869,341,29,143,0,111,1400000,48453000901
3,3400,1458,1942,2481,848,10,163,29,53,1400000,48453000402
4,10147,4118,6029,7608,1650,123,887,18,182,1400000,48453000601
5,4029,2107,1922,3762,41,29,243,0,0,1400000,48453001303
...,...,...,...,...,...,...,...,...,...,...,...
214,2260,1091,1169,1635,161,51,296,35,199,1400000,48453001859
215,21972,10749,11223,16303,3475,208,1723,60,861,1400000,48453001858
216,6244,2953,3291,5962,176,84,69,0,155,1400000,48453001779
217,3268,1589,1679,2690,451,125,150,0,97,1400000,48453001776
218,3449,1591,1858,2729,109,46,315,0,330,1400000,48453002425

In [12]:
df.to_csv('Data/cleaned_race_acs.csv')