In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

In [3]:
df_cdc = pd.merge(
    pd.read_csv("Data/cleaned_blood_pressure_cdc.csv"),
    pd.read_csv("Data/cleaned_cholesterol_cdc.csv"),
    on="TractFIPS",
    how="inner",
    suffixes=("_bp", "_chol"),
)

df_cdc

,Year_bp,StateAbbr_bp,StateDesc_bp,CityName_bp,GeographicLevel_bp,Category_bp,UniqueID_bp,Measure_bp,PopulationCount_bp,GeoLocation_bp,...,CityName_chol,GeographicLevel_chol,Category_chol,UniqueID_chol,Measure_chol,PopulationCount_chol,GeoLocation_chol,MeasureId_chol,Lat_chol,Lng_chol
0,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453000604,High blood pressure among adults aged >=18 Years,6496,"(30.2855339039, -97.7477273854)",...,Austin,Census Tract,Health Outcomes,4805000-48453000604,High cholesterol among adults aged >=18 Years ...,6496,"(30.2855339039, -97.7477273854)",HIGHCHOL,30.285534,-97.747727
1,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002113,High blood pressure among adults aged >=18 Years,3571,"(30.3170432569, -97.6725319322)",...,Austin,Census Tract,Health Outcomes,4805000-48453002113,High cholesterol among adults aged >=18 Years ...,3571,"(30.3170432569, -97.6725319322)",HIGHCHOL,30.317043,-97.672532
2,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453001718,High blood pressure among adults aged >=18 Years,5442,"(30.3483038697, -97.7610247766)",...,Austin,Census Tract,Health Outcomes,4805000-48453001718,High cholesterol among adults aged >=18 Years ...,5442,"(30.3483038697, -97.7610247766)",HIGHCHOL,30.348304,-97.761025
3,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453001908,High blood pressure among adults aged >=18 Years,5177,"(30.2673616151, -97.8917527564)",...,Austin,Census Tract,Health Outcomes,4805000-48453001908,High cholesterol among adults aged >=18 Years ...,5177,"(30.2673616151, -97.8917527564)",HIGHCHOL,30.267362,-97.891753
4,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002212,High blood pressure among adults aged >=18 Years,331,"(30.3101329564, -97.5916015422)",...,Austin,Census Tract,Health Outcomes,4805000-48453002212,High cholesterol among adults aged >=18 Years ...,331,"(30.3101329564, -97.5916015422)",HIGHCHOL,30.310133,-97.591602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002426,High blood pressure among adults aged >=18 Years,7014,"(30.1548242628, -97.7520686441)",...,Austin,Census Tract,Health Outcomes,4805000-48453002426,High cholesterol among adults aged >=18 Years ...,7014,"(30.1548242628, -97.7520686441)",HIGHCHOL,30.154824,-97.752069
201,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48491020510,High blood pressure among adults aged >=18 Years,3555,"(30.4935333283, -97.7625330584)",...,Austin,Census Tract,Health Outcomes,4805000-48491020510,High cholesterol among adults aged >=18 Years ...,3555,"(30.4935333283, -97.7625330584)",HIGHCHOL,30.493533,-97.762533
202,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48491020316,High blood pressure among adults aged >=18 Years,30,"(30.4767287286, -97.8094310538)",...,Austin,Census Tract,Health Outcomes,4805000-48491020316,High cholesterol among adults aged >=18 Years ...,30,"(30.4767287286, -97.8094310538)",HIGHCHOL,30.476729,-97.809431
203,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002422,High blood pressure among adults aged >=18 Years,5472,"(30.1834376979, -97.7848162066)",...,Austin,Census Tract,Health Outcomes,4805000-48453002422,High cholesterol among adults aged >=18 Years ...,5472,"(30.1834376979, -97.7848162066)",HIGHCHOL,30.183438,-97.784816
204,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002433,High blood pressure among adults aged >=18 Years,3564,"(30.1912019968, -97.6172300469)",...,Austin,Census Tract,Health Outcomes,4805000-48453002433,High cholesterol among adults aged >=18 Years ...,3564,"(30.1912019968, -97.6172300469)",HIGHCHOL,30.191202,-97.617230

In [4]:
df_cdc = pd.merge(
    df_cdc, pd.read_csv("Data/cleaned_diabetes_cdc.csv"), on="TractFIPS", how="inner"
)


df_cdc

,Year_bp,StateAbbr_bp,StateDesc_bp,CityName_bp,GeographicLevel_bp,Category_bp,UniqueID_bp,Measure_bp,PopulationCount_bp,GeoLocation_bp,...,CityName,GeographicLevel,Category,UniqueID,Measure,PopulationCount,GeoLocation,MeasureId,Lat,Lng
0,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453000604,High blood pressure among adults aged >=18 Years,6496,"(30.2855339039, -97.7477273854)",...,Austin,Census Tract,Health Outcomes,4805000-48453000604,Diagnosed diabetes among adults aged >=18 Years,"6,496","(30.2855339039, -97.7477273854)",DIABETES,30.285534,-97.747727
1,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002113,High blood pressure among adults aged >=18 Years,3571,"(30.3170432569, -97.6725319322)",...,Austin,Census Tract,Health Outcomes,4805000-48453002113,Diagnosed diabetes among adults aged >=18 Years,"3,571","(30.3170432569, -97.6725319322)",DIABETES,30.317043,-97.672532
2,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453001718,High blood pressure among adults aged >=18 Years,5442,"(30.3483038697, -97.7610247766)",...,Austin,Census Tract,Health Outcomes,4805000-48453001718,Diagnosed diabetes among adults aged >=18 Years,"5,442","(30.3483038697, -97.7610247766)",DIABETES,30.348304,-97.761025
3,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453001908,High blood pressure among adults aged >=18 Years,5177,"(30.2673616151, -97.8917527564)",...,Austin,Census Tract,Health Outcomes,4805000-48453001908,Diagnosed diabetes among adults aged >=18 Years,"5,177","(30.2673616151, -97.8917527564)",DIABETES,30.267362,-97.891753
4,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002212,High blood pressure among adults aged >=18 Years,331,"(30.3101329564, -97.5916015422)",...,Austin,Census Tract,Health Outcomes,4805000-48453002212,Diagnosed diabetes among adults aged >=18 Years,331,"(30.3101329564, -97.5916015422)",DIABETES,30.310133,-97.591602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002426,High blood pressure among adults aged >=18 Years,7014,"(30.1548242628, -97.7520686441)",...,Austin,Census Tract,Health Outcomes,4805000-48453002426,Diagnosed diabetes among adults aged >=18 Years,"7,014","(30.1548242628, -97.7520686441)",DIABETES,30.154824,-97.752069
201,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48491020510,High blood pressure among adults aged >=18 Years,3555,"(30.4935333283, -97.7625330584)",...,Austin,Census Tract,Health Outcomes,4805000-48491020510,Diagnosed diabetes among adults aged >=18 Years,"3,555","(30.4935333283, -97.7625330584)",DIABETES,30.493533,-97.762533
202,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48491020316,High blood pressure among adults aged >=18 Years,30,"(30.4767287286, -97.8094310538)",...,Austin,Census Tract,Health Outcomes,4805000-48491020316,Diagnosed diabetes among adults aged >=18 Years,30,"(30.4767287286, -97.8094310538)",DIABETES,30.476729,-97.809431
203,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002422,High blood pressure among adults aged >=18 Years,5472,"(30.1834376979, -97.7848162066)",...,Austin,Census Tract,Health Outcomes,4805000-48453002422,Diagnosed diabetes among adults aged >=18 Years,"5,472","(30.1834376979, -97.7848162066)",DIABETES,30.183438,-97.784816
204,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002433,High blood pressure among adults aged >=18 Years,3564,"(30.1912019968, -97.6172300469)",...,Austin,Census Tract,Health Outcomes,4805000-48453002433,Diagnosed diabetes among adults aged >=18 Years,"3,564","(30.1912019968, -97.6172300469)",DIABETES,30.191202,-97.617230

In [5]:
df_cdc.columns

Index(['Year_bp', 'StateAbbr_bp', 'StateDesc_bp', 'CityName_bp',
       'GeographicLevel_bp', 'Category_bp', 'UniqueID_bp', 'Measure_bp',
       'PopulationCount_bp', 'GeoLocation_bp', 'MeasureId_bp', 'TractFIPS',
       'Lat_bp', 'Lng_bp', 'Year_chol', 'StateAbbr_chol', 'StateDesc_chol',
       'CityName_chol', 'GeographicLevel_chol', 'Category_chol',
       'UniqueID_chol', 'Measure_chol', 'PopulationCount_chol',
       'GeoLocation_chol', 'MeasureId_chol', 'Lat_chol', 'Lng_chol', 'Year',
       'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel', 'Category',
       'UniqueID', 'Measure', 'PopulationCount', 'GeoLocation', 'MeasureId',
       'Lat', 'Lng'],
      dtype='object')

In [6]:
df_cdc = pd.merge(
    df_cdc,
    pd.read_csv("Data/cleaned_obesity_cdc.csv"),
    on="TractFIPS",
    how="inner",
    suffixes=("_dbt", "_obs"),
)


df_cdc

,Year_bp,StateAbbr_bp,StateDesc_bp,CityName_bp,GeographicLevel_bp,Category_bp,UniqueID_bp,Measure_bp,PopulationCount_bp,GeoLocation_bp,...,CityName_obs,GeographicLevel_obs,Category_obs,UniqueID_obs,Measure_obs,PopulationCount_obs,GeoLocation_obs,MeasureId_obs,Lat_obs,Lng_obs
0,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453000604,High blood pressure among adults aged >=18 Years,6496,"(30.2855339039, -97.7477273854)",...,Austin,Census Tract,Unhealthy Behaviors,4805000-48453000604,Obesity among adults aged >=18 Years,"6,496","(30.2855339039, -97.7477273854)",OBESITY,30.285534,-97.747727
1,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002113,High blood pressure among adults aged >=18 Years,3571,"(30.3170432569, -97.6725319322)",...,Austin,Census Tract,Unhealthy Behaviors,4805000-48453002113,Obesity among adults aged >=18 Years,"3,571","(30.3170432569, -97.6725319322)",OBESITY,30.317043,-97.672532
2,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453001718,High blood pressure among adults aged >=18 Years,5442,"(30.3483038697, -97.7610247766)",...,Austin,Census Tract,Unhealthy Behaviors,4805000-48453001718,Obesity among adults aged >=18 Years,"5,442","(30.3483038697, -97.7610247766)",OBESITY,30.348304,-97.761025
3,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453001908,High blood pressure among adults aged >=18 Years,5177,"(30.2673616151, -97.8917527564)",...,Austin,Census Tract,Unhealthy Behaviors,4805000-48453001908,Obesity among adults aged >=18 Years,"5,177","(30.2673616151, -97.8917527564)",OBESITY,30.267362,-97.891753
4,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002212,High blood pressure among adults aged >=18 Years,331,"(30.3101329564, -97.5916015422)",...,Austin,Census Tract,Unhealthy Behaviors,4805000-48453002212,Obesity among adults aged >=18 Years,331,"(30.3101329564, -97.5916015422)",OBESITY,30.310133,-97.591602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002426,High blood pressure among adults aged >=18 Years,7014,"(30.1548242628, -97.7520686441)",...,Austin,Census Tract,Unhealthy Behaviors,4805000-48453002426,Obesity among adults aged >=18 Years,"7,014","(30.1548242628, -97.7520686441)",OBESITY,30.154824,-97.752069
201,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48491020510,High blood pressure among adults aged >=18 Years,3555,"(30.4935333283, -97.7625330584)",...,Austin,Census Tract,Unhealthy Behaviors,4805000-48491020510,Obesity among adults aged >=18 Years,"3,555","(30.4935333283, -97.7625330584)",OBESITY,30.493533,-97.762533
202,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48491020316,High blood pressure among adults aged >=18 Years,30,"(30.4767287286, -97.8094310538)",...,Austin,Census Tract,Unhealthy Behaviors,4805000-48491020316,Obesity among adults aged >=18 Years,30,"(30.4767287286, -97.8094310538)",OBESITY,30.476729,-97.809431
203,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002422,High blood pressure among adults aged >=18 Years,5472,"(30.1834376979, -97.7848162066)",...,Austin,Census Tract,Unhealthy Behaviors,4805000-48453002422,Obesity among adults aged >=18 Years,"5,472","(30.1834376979, -97.7848162066)",OBESITY,30.183438,-97.784816
204,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002433,High blood pressure among adults aged >=18 Years,3564,"(30.1912019968, -97.6172300469)",...,Austin,Census Tract,Unhealthy Behaviors,4805000-48453002433,Obesity among adults aged >=18 Years,"3,564","(30.1912019968, -97.6172300469)",OBESITY,30.191202,-97.617230

In [7]:
df_cdc.columns

Index(['Year_bp', 'StateAbbr_bp', 'StateDesc_bp', 'CityName_bp',
       'GeographicLevel_bp', 'Category_bp', 'UniqueID_bp', 'Measure_bp',
       'PopulationCount_bp', 'GeoLocation_bp', 'MeasureId_bp', 'TractFIPS',
       'Lat_bp', 'Lng_bp', 'Year_chol', 'StateAbbr_chol', 'StateDesc_chol',
       'CityName_chol', 'GeographicLevel_chol', 'Category_chol',
       'UniqueID_chol', 'Measure_chol', 'PopulationCount_chol',
       'GeoLocation_chol', 'MeasureId_chol', 'Lat_chol', 'Lng_chol',
       'Year_dbt', 'StateAbbr_dbt', 'StateDesc_dbt', 'CityName_dbt',
       'GeographicLevel_dbt', 'Category_dbt', 'UniqueID_dbt', 'Measure_dbt',
       'PopulationCount_dbt', 'GeoLocation_dbt', 'MeasureId_dbt', 'Lat_dbt',
       'Lng_dbt', 'Year_obs', 'StateAbbr_obs', 'StateDesc_obs', 'CityName_obs',
       'GeographicLevel_obs', 'Category_obs', 'UniqueID_obs', 'Measure_obs',
       'PopulationCount_obs', 'GeoLocation_obs', 'MeasureId_obs', 'Lat_obs',
       'Lng_obs'],
      dtype='object')

In [8]:
df_acs = pd.merge(
    pd.read_csv("Data/cleaned_education_acs.csv"),
    pd.read_csv("Data/cleaned_income_acs.csv"),
    on="Census Tract",
    how="inner",
)

df_acs

,Total 18+ Population,Total 18+ Male Population,Total Male 18 to 24 years,Total Male 18 to 24 years Less than 9th grade,"Total Male 18 to 24 years 9th to 12th grade, no diploma",Total Male 18 to 24 years High school graduate,"Total Male 18 to 24 years Some college, no degree",Total Male 18 to 24 years Associate's degree,Total Male 18 to 24 years Bachelor's degree,Total Male 18 to 24 years Graduate or professional degree,...,"Income $25,000-$34,999","Income $35,000-$49,999","Income $50,000-$74,999","Income $75,000-$99,999","Income $100,000-$149,999","Income $150,000-$199,999","Income > $200,000",Median Income (dollars),Mean Income (dollars),GEO_ID_y
0,3430,1511,162,10,0,53,32,0,67,0,...,7.0,5.2,19.1,8.1,17.8,13.0,19.5,101944,137148,1400000
1,2058,940,51,0,13,0,38,0,0,0,...,3.7,5.8,7.6,4.0,20.0,21.2,32.4,157563,238156,1400000
2,1493,727,179,9,0,11,63,0,90,6,...,6.4,9.6,15.9,13.3,18.0,4.7,3.9,54777,83721,1400000
3,2626,1551,336,0,0,65,217,0,54,0,...,6.5,7.8,21.0,4.7,9.2,7.9,15.9,56972,106980,1400000
4,3526,1917,108,0,0,8,18,0,82,0,...,14.5,4.3,24.4,11.9,19.4,4.7,7.7,67589,84552,1400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,1252,635,79,0,12,29,38,0,0,0,...,10.5,17.5,21.7,13.9,11.1,3.4,2.6,51985,63640,1400000
214,6031,3285,530,0,41,121,236,0,132,0,...,6.9,16.6,20.6,18.4,12.9,3.0,4.4,59835,71539,1400000
215,2124,1107,85,0,31,34,20,0,0,0,...,20.6,10.6,11.9,21.3,10.3,0.3,0.8,45750,54875,1400000
216,4555,2167,25,0,0,15,0,0,10,0,...,6.9,8.9,18.2,18.8,23.3,5.9,6.4,82022,91381,1400000
217,0,0,0,0,0,0,0,0,0,0,...,-,-,-,-,-,-,-,-,-,1400000

In [9]:
df_acs = pd.merge(
    df_acs, pd.read_csv("Data/cleaned_race_acs.csv"), on="Census Tract", how="inner"
)


df_acs

,Total 18+ Population,Total 18+ Male Population,Total Male 18 to 24 years,Total Male 18 to 24 years Less than 9th grade,"Total Male 18 to 24 years 9th to 12th grade, no diploma",Total Male 18 to 24 years High school graduate,"Total Male 18 to 24 years Some college, no degree",Total Male 18 to 24 years Associate's degree,Total Male 18 to 24 years Bachelor's degree,Total Male 18 to 24 years Graduate or professional degree,...,Total Population,Total Male,Total Female,White Population,Black or African American Population,American Indian and Alaska Native Population,Asian Population,Native Hawaiian and Other Pacific Islander population,Some Other Race Population,GEO_ID
0,3430,1511,162,10,0,53,32,0,67,0,...,4263,1911,2352,4092,26,84,151,0,78,1400000
1,2058,940,51,0,13,0,38,0,0,0,...,2640,1226,1414,2506,116,37,65,0,0,1400000
2,1493,727,179,9,0,11,63,0,90,6,...,1594,768,826,1246,107,6,187,8,102,1400000
3,2626,1551,336,0,0,65,217,0,54,0,...,3060,1704,1356,2823,96,52,236,0,58,1400000
4,3526,1917,108,0,0,8,18,0,82,0,...,3937,2114,1823,3185,160,47,437,62,143,1400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,1252,635,79,0,12,29,38,0,0,0,...,1724,867,857,1344,115,37,0,11,282,1400000
214,6031,3285,530,0,41,121,236,0,132,0,...,8462,4410,4052,4591,776,336,341,0,2632,1400000
215,2124,1107,85,0,31,34,20,0,0,0,...,2851,1454,1397,1958,130,35,29,0,799,1400000
216,4555,2167,25,0,0,15,0,0,10,0,...,5518,2756,2762,4780,290,35,540,0,176,1400000
217,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1400000

In [12]:
df_cdc = df_cdc.rename(columns={"TractFIPS": "Census Tract"})
df_cdc.columns

Index(['Year_bp', 'StateAbbr_bp', 'StateDesc_bp', 'CityName_bp',
       'GeographicLevel_bp', 'Category_bp', 'UniqueID_bp', 'Measure_bp',
       'PopulationCount_bp', 'GeoLocation_bp', 'MeasureId_bp', 'Census Tract',
       'Lat_bp', 'Lng_bp', 'Year_chol', 'StateAbbr_chol', 'StateDesc_chol',
       'CityName_chol', 'GeographicLevel_chol', 'Category_chol',
       'UniqueID_chol', 'Measure_chol', 'PopulationCount_chol',
       'GeoLocation_chol', 'MeasureId_chol', 'Lat_chol', 'Lng_chol',
       'Year_dbt', 'StateAbbr_dbt', 'StateDesc_dbt', 'CityName_dbt',
       'GeographicLevel_dbt', 'Category_dbt', 'UniqueID_dbt', 'Measure_dbt',
       'PopulationCount_dbt', 'GeoLocation_dbt', 'MeasureId_dbt', 'Lat_dbt',
       'Lng_dbt', 'Year_obs', 'StateAbbr_obs', 'StateDesc_obs', 'CityName_obs',
       'GeographicLevel_obs', 'Category_obs', 'UniqueID_obs', 'Measure_obs',
       'PopulationCount_obs', 'GeoLocation_obs', 'MeasureId_obs', 'Lat_obs',
       'Lng_obs'],
      dtype='object')

In [13]:
df_all_data = pd.merge(df_cdc, df_acs, on="Census Tract", how="inner",)

df_all_data

,Year_bp,StateAbbr_bp,StateDesc_bp,CityName_bp,GeographicLevel_bp,Category_bp,UniqueID_bp,Measure_bp,PopulationCount_bp,GeoLocation_bp,...,Total Population,Total Male,Total Female,White Population,Black or African American Population,American Indian and Alaska Native Population,Asian Population,Native Hawaiian and Other Pacific Islander population,Some Other Race Population,GEO_ID
0,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453000604,High blood pressure among adults aged >=18 Years,6496,"(30.2855339039, -97.7477273854)",...,7140,3755,3385,4976,304,76,1824,8,151,1400000
1,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002113,High blood pressure among adults aged >=18 Years,3571,"(30.3170432569, -97.6725319322)",...,3608,1881,1727,2711,745,39,76,13,134,1400000
2,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453001718,High blood pressure among adults aged >=18 Years,5442,"(30.3483038697, -97.7610247766)",...,6176,3181,2995,5293,226,11,607,0,149,1400000
3,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453001908,High blood pressure among adults aged >=18 Years,5177,"(30.2673616151, -97.8917527564)",...,9583,4880,4703,8291,401,25,825,0,54,1400000
4,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002212,High blood pressure among adults aged >=18 Years,331,"(30.3101329564, -97.5916015422)",...,1043,514,529,469,499,23,0,0,115,1400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002435,High blood pressure among adults aged >=18 Years,4159,"(30.160226698, -97.6406042548)",...,8462,4410,4052,4591,776,336,341,0,2632,1400000
187,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002429,High blood pressure among adults aged >=18 Years,524,"(30.1675109092, -97.7735753064)",...,1589,807,782,1273,224,10,14,0,78,1400000
188,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002426,High blood pressure among adults aged >=18 Years,7014,"(30.1548242628, -97.7520686441)",...,11174,5001,6173,9007,1426,84,137,0,1081,1400000
189,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002422,High blood pressure among adults aged >=18 Years,5472,"(30.1834376979, -97.7848162066)",...,5998,3017,2981,5271,429,0,109,0,372,1400000
190,2017,TX,Texas,Austin,Census Tract,Health Outcomes,4805000-48453002433,High blood pressure among adults aged >=18 Years,3564,"(30.1912019968, -97.6172300469)",...,8706,4168,4538,4700,1463,89,202,0,2427,1400000

In [14]:
df_all_data.columns

Index(['Year_bp', 'StateAbbr_bp', 'StateDesc_bp', 'CityName_bp',
       'GeographicLevel_bp', 'Category_bp', 'UniqueID_bp', 'Measure_bp',
       'PopulationCount_bp', 'GeoLocation_bp',
       ...
       'Total Population', 'Total Male', 'Total Female', 'White Population',
       'Black or African American Population',
       'American Indian and Alaska Native Population', 'Asian Population',
       'Native Hawaiian and Other Pacific Islander population',
       'Some Other Race Population', 'GEO_ID'],
      dtype='object', length=161)

In [15]:
df_all_data.to_csv("Data/mrgdata.csv")