In [1]:
import pandas as pd
file_to_load = '../Data/ACSST5Y2017.S1901_data_with_overlays_2020-09-23T184134.csv'
df = pd.read_csv(file_to_load, usecols = ['GEO_ID', 'S1901_C01_001E', 'S1901_C01_002E','S1901_C01_003E', 'S1901_C01_004E', 'S1901_C01_005E', 'S1901_C01_006E', 'S1901_C01_007E', 'S1901_C01_008E', 'S1901_C01_009E', 'S1901_C01_010E', 'S1901_C01_011E', 'S1901_C01_012E', 'S1901_C01_013E'    ])
df.head()

,GEO_ID,S1901_C01_001E,S1901_C01_002E,S1901_C01_003E,S1901_C01_004E,S1901_C01_005E,S1901_C01_006E,S1901_C01_007E,S1901_C01_008E,S1901_C01_009E,S1901_C01_010E,S1901_C01_011E,S1901_C01_012E,S1901_C01_013E
0,id,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999","Estimate!!Households!!Total!!$150,000 to $199,999","Estimate!!Households!!Total!!$200,000 or more",Estimate!!Households!!Median income (dollars),Estimate!!Households!!Mean income (dollars)
1,1400000US48453001915,785,4.7,1.1,7.1,8.3,8.3,33.5,9.7,18.1,2.9,6.2,64599,89918
2,1400000US48453001778,1841,2.2,3.3,2.7,5.0,5.5,15.9,15.8,20.0,11.6,18.1,99720,129543
3,1400000US48453001777,2351,2.9,1.1,4.5,4.8,10.5,17.4,21.2,29.8,6.7,1.1,86683,86002
4,1400000US48453001770,4063,0.5,1.5,0.3,1.8,3.9,7.7,10.6,26.4,19.5,27.8,143040,176237

In [2]:
df = df.rename(columns={"GEO_ID": "Census_Tract",
                        "S1901_C01_001E": "Total Households",
                        "S1901_C01_002E": "Income < $10,000", 
                       "S1901_C01_003E": "Income $10,000-$14,999",
                       "S1901_C01_004E": "Income $15,000-$24,999",
                       "S1901_C01_005E": "Income $25,000-$34,999",
                       "S1901_C01_006E": "Income $35,000-$49,999",
                       "S1901_C01_007E": "Income $50,000-$74,999",
                       "S1901_C01_008E": "Income $75,000-$99,999",
                       "S1901_C01_009E": "Income $100,000-$149,999",
                       "S1901_C01_010E": "Income $150,000-$199,999",
                       "S1901_C01_011E": "Income > $200,000",
                       "S1901_C01_012E": "Median Income (dollars)",
                       "S1901_C01_013E": "Mean Income (dollars)" 
                       })
df

,Census_Tract,Total Households,"Income < $10,000","Income $10,000-$14,999","Income $15,000-$24,999","Income $25,000-$34,999","Income $35,000-$49,999","Income $50,000-$74,999","Income $75,000-$99,999","Income $100,000-$149,999","Income $150,000-$199,999","Income > $200,000",Median Income (dollars),Mean Income (dollars)
0,id,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999","Estimate!!Households!!Total!!$150,000 to $199,999","Estimate!!Households!!Total!!$200,000 or more",Estimate!!Households!!Median income (dollars),Estimate!!Households!!Mean income (dollars)
1,1400000US48453001915,785,4.7,1.1,7.1,8.3,8.3,33.5,9.7,18.1,2.9,6.2,64599,89918
2,1400000US48453001778,1841,2.2,3.3,2.7,5.0,5.5,15.9,15.8,20.0,11.6,18.1,99720,129543
3,1400000US48453001777,2351,2.9,1.1,4.5,4.8,10.5,17.4,21.2,29.8,6.7,1.1,86683,86002
4,1400000US48453001770,4063,0.5,1.5,0.3,1.8,3.9,7.7,10.6,26.4,19.5,27.8,143040,176237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,1400000US48453000307,828,5.9,1.8,11.1,3.5,10.4,21.4,9.7,17.8,9.5,8.9,68214,95729
215,1400000US48453000205,2146,3.9,3.1,6.1,14.5,4.3,24.4,11.9,19.4,4.7,7.7,67589,84552
216,1400000US48453000305,1831,8.7,5.1,6.3,14.2,12.0,20.6,10.6,10.9,7.0,4.6,52766,76894
217,1400000US48453000206,1667,4.9,4.6,4.7,2.9,10.0,20.2,11.8,18.3,11.3,11.3,80781,112960
218,1400000US48453001783,1886,1.3,3.6,4.7,5.5,7.4,8.5,7.1,23.8,8.4,29.7,124688,187806

In [3]:
df.drop(df.index[0], inplace=True)
df

,Census_Tract,Total Households,"Income < $10,000","Income $10,000-$14,999","Income $15,000-$24,999","Income $25,000-$34,999","Income $35,000-$49,999","Income $50,000-$74,999","Income $75,000-$99,999","Income $100,000-$149,999","Income $150,000-$199,999","Income > $200,000",Median Income (dollars),Mean Income (dollars)
1,1400000US48453001915,785,4.7,1.1,7.1,8.3,8.3,33.5,9.7,18.1,2.9,6.2,64599,89918
2,1400000US48453001778,1841,2.2,3.3,2.7,5.0,5.5,15.9,15.8,20.0,11.6,18.1,99720,129543
3,1400000US48453001777,2351,2.9,1.1,4.5,4.8,10.5,17.4,21.2,29.8,6.7,1.1,86683,86002
4,1400000US48453001770,4063,0.5,1.5,0.3,1.8,3.9,7.7,10.6,26.4,19.5,27.8,143040,176237
5,1400000US48453001775,2236,2.0,0.3,1.7,1.4,4.4,4.0,5.6,28.4,23.2,29.0,153643,168209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,1400000US48453000307,828,5.9,1.8,11.1,3.5,10.4,21.4,9.7,17.8,9.5,8.9,68214,95729
215,1400000US48453000205,2146,3.9,3.1,6.1,14.5,4.3,24.4,11.9,19.4,4.7,7.7,67589,84552
216,1400000US48453000305,1831,8.7,5.1,6.3,14.2,12.0,20.6,10.6,10.9,7.0,4.6,52766,76894
217,1400000US48453000206,1667,4.9,4.6,4.7,2.9,10.0,20.2,11.8,18.3,11.3,11.3,80781,112960
218,1400000US48453001783,1886,1.3,3.6,4.7,5.5,7.4,8.5,7.1,23.8,8.4,29.7,124688,187806

In [4]:
df.reset_index()

,index,Census_Tract,Total Households,"Income < $10,000","Income $10,000-$14,999","Income $15,000-$24,999","Income $25,000-$34,999","Income $35,000-$49,999","Income $50,000-$74,999","Income $75,000-$99,999","Income $100,000-$149,999","Income $150,000-$199,999","Income > $200,000",Median Income (dollars),Mean Income (dollars)
0,1,1400000US48453001915,785,4.7,1.1,7.1,8.3,8.3,33.5,9.7,18.1,2.9,6.2,64599,89918
1,2,1400000US48453001778,1841,2.2,3.3,2.7,5.0,5.5,15.9,15.8,20.0,11.6,18.1,99720,129543
2,3,1400000US48453001777,2351,2.9,1.1,4.5,4.8,10.5,17.4,21.2,29.8,6.7,1.1,86683,86002
3,4,1400000US48453001770,4063,0.5,1.5,0.3,1.8,3.9,7.7,10.6,26.4,19.5,27.8,143040,176237
4,5,1400000US48453001775,2236,2.0,0.3,1.7,1.4,4.4,4.0,5.6,28.4,23.2,29.0,153643,168209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,214,1400000US48453000307,828,5.9,1.8,11.1,3.5,10.4,21.4,9.7,17.8,9.5,8.9,68214,95729
214,215,1400000US48453000205,2146,3.9,3.1,6.1,14.5,4.3,24.4,11.9,19.4,4.7,7.7,67589,84552
215,216,1400000US48453000305,1831,8.7,5.1,6.3,14.2,12.0,20.6,10.6,10.9,7.0,4.6,52766,76894
216,217,1400000US48453000206,1667,4.9,4.6,4.7,2.9,10.0,20.2,11.8,18.3,11.3,11.3,80781,112960
217,218,1400000US48453001783,1886,1.3,3.6,4.7,5.5,7.4,8.5,7.1,23.8,8.4,29.7,124688,187806

In [5]:
df[['GEO_ID', 'Census Tract']] = df.Census_Tract.apply(
    lambda x: pd.Series(str(x).split('US'))
)
df

,Census_Tract,Total Households,"Income < $10,000","Income $10,000-$14,999","Income $15,000-$24,999","Income $25,000-$34,999","Income $35,000-$49,999","Income $50,000-$74,999","Income $75,000-$99,999","Income $100,000-$149,999","Income $150,000-$199,999","Income > $200,000",Median Income (dollars),Mean Income (dollars),GEO_ID,Census Tract
1,1400000US48453001915,785,4.7,1.1,7.1,8.3,8.3,33.5,9.7,18.1,2.9,6.2,64599,89918,1400000,48453001915
2,1400000US48453001778,1841,2.2,3.3,2.7,5.0,5.5,15.9,15.8,20.0,11.6,18.1,99720,129543,1400000,48453001778
3,1400000US48453001777,2351,2.9,1.1,4.5,4.8,10.5,17.4,21.2,29.8,6.7,1.1,86683,86002,1400000,48453001777
4,1400000US48453001770,4063,0.5,1.5,0.3,1.8,3.9,7.7,10.6,26.4,19.5,27.8,143040,176237,1400000,48453001770
5,1400000US48453001775,2236,2.0,0.3,1.7,1.4,4.4,4.0,5.6,28.4,23.2,29.0,153643,168209,1400000,48453001775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,1400000US48453000307,828,5.9,1.8,11.1,3.5,10.4,21.4,9.7,17.8,9.5,8.9,68214,95729,1400000,48453000307
215,1400000US48453000205,2146,3.9,3.1,6.1,14.5,4.3,24.4,11.9,19.4,4.7,7.7,67589,84552,1400000,48453000205
216,1400000US48453000305,1831,8.7,5.1,6.3,14.2,12.0,20.6,10.6,10.9,7.0,4.6,52766,76894,1400000,48453000305
217,1400000US48453000206,1667,4.9,4.6,4.7,2.9,10.0,20.2,11.8,18.3,11.3,11.3,80781,112960,1400000,48453000206
218,1400000US48453001783,1886,1.3,3.6,4.7,5.5,7.4,8.5,7.1,23.8,8.4,29.7,124688,187806,1400000,48453001783

In [6]:
df.drop(columns = ['Census_Tract'], inplace=True)
df

,Total Households,"Income < $10,000","Income $10,000-$14,999","Income $15,000-$24,999","Income $25,000-$34,999","Income $35,000-$49,999","Income $50,000-$74,999","Income $75,000-$99,999","Income $100,000-$149,999","Income $150,000-$199,999","Income > $200,000",Median Income (dollars),Mean Income (dollars),GEO_ID,Census Tract
1,785,4.7,1.1,7.1,8.3,8.3,33.5,9.7,18.1,2.9,6.2,64599,89918,1400000,48453001915
2,1841,2.2,3.3,2.7,5.0,5.5,15.9,15.8,20.0,11.6,18.1,99720,129543,1400000,48453001778
3,2351,2.9,1.1,4.5,4.8,10.5,17.4,21.2,29.8,6.7,1.1,86683,86002,1400000,48453001777
4,4063,0.5,1.5,0.3,1.8,3.9,7.7,10.6,26.4,19.5,27.8,143040,176237,1400000,48453001770
5,2236,2.0,0.3,1.7,1.4,4.4,4.0,5.6,28.4,23.2,29.0,153643,168209,1400000,48453001775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,828,5.9,1.8,11.1,3.5,10.4,21.4,9.7,17.8,9.5,8.9,68214,95729,1400000,48453000307
215,2146,3.9,3.1,6.1,14.5,4.3,24.4,11.9,19.4,4.7,7.7,67589,84552,1400000,48453000205
216,1831,8.7,5.1,6.3,14.2,12.0,20.6,10.6,10.9,7.0,4.6,52766,76894,1400000,48453000305
217,1667,4.9,4.6,4.7,2.9,10.0,20.2,11.8,18.3,11.3,11.3,80781,112960,1400000,48453000206
218,1886,1.3,3.6,4.7,5.5,7.4,8.5,7.1,23.8,8.4,29.7,124688,187806,1400000,48453001783

In [7]:
df.to_csv('../Data/cleaned_income_acs.csv', index=False)
df

,Total Households,"Income < $10,000","Income $10,000-$14,999","Income $15,000-$24,999","Income $25,000-$34,999","Income $35,000-$49,999","Income $50,000-$74,999","Income $75,000-$99,999","Income $100,000-$149,999","Income $150,000-$199,999","Income > $200,000",Median Income (dollars),Mean Income (dollars),GEO_ID,Census Tract
1,785,4.7,1.1,7.1,8.3,8.3,33.5,9.7,18.1,2.9,6.2,64599,89918,1400000,48453001915
2,1841,2.2,3.3,2.7,5.0,5.5,15.9,15.8,20.0,11.6,18.1,99720,129543,1400000,48453001778
3,2351,2.9,1.1,4.5,4.8,10.5,17.4,21.2,29.8,6.7,1.1,86683,86002,1400000,48453001777
4,4063,0.5,1.5,0.3,1.8,3.9,7.7,10.6,26.4,19.5,27.8,143040,176237,1400000,48453001770
5,2236,2.0,0.3,1.7,1.4,4.4,4.0,5.6,28.4,23.2,29.0,153643,168209,1400000,48453001775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,828,5.9,1.8,11.1,3.5,10.4,21.4,9.7,17.8,9.5,8.9,68214,95729,1400000,48453000307
215,2146,3.9,3.1,6.1,14.5,4.3,24.4,11.9,19.4,4.7,7.7,67589,84552,1400000,48453000205
216,1831,8.7,5.1,6.3,14.2,12.0,20.6,10.6,10.9,7.0,4.6,52766,76894,1400000,48453000305
217,1667,4.9,4.6,4.7,2.9,10.0,20.2,11.8,18.3,11.3,11.3,80781,112960,1400000,48453000206
218,1886,1.3,3.6,4.7,5.5,7.4,8.5,7.1,23.8,8.4,29.7,124688,187806,1400000,48453001783